<html>
<%= render "layouts/header" %>
    <div class="container">
        <h1 class="cover-heading">Careers</h1>
        <p class="lead">At MetroPCS No Limit Talk, we are always looking for people to...</p>
        
    <p>Careers</p>
        
<p>Find me in app/views/careers/index.html.erb</p>
        <%= link_to "Apply", careers_application_path, :class => "btn btn-default navbar-btn" %>
</div>
</html>